@import 'tailwindcss';
@plugin '@tailwindcss/forms';

.grain:before {
	content: '';
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.2' numOctaves='4' stitchTiles='stitch' /%3E%3CfeComponentTransfer%3E%3CfeFuncA type='linear' slope='2' intercept='-0.5' /%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)' /%3E%3C/svg%3E");
	background-repeat: repeat;
	background-size: 40vmax;
	opacity: 0.06;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1;
}
